In [1]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv('Data/BoxOfficeMojo/box_office_mojo_cleaned.csv')
df = df.sort_values(by=['year'] , ascending= True)
df = df[['year' , 'top_release']]
df.head()

      year                         top_release
2703  1977  Star Wars: Episode IV - A New Hope
2696  1977                                   -
2695  1977                                   -
2694  1977                            Oh, God!
2693  1977                                   -

In [18]:
import requests
import pandas as pd

df_budget = df.copy()

# Your TMDb API Key
API_KEY = '1a5413e0efff335584bf51d5d7db63f7'

# Base URL for TMDb API
BASE_URL = 'https://api.themoviedb.org/3'

# Function to get the budget of a movie by title
counter = 0

def get_movie_budget(title):
    global counter
    counter += 1

    # Print a message every 100 rows
    if counter % 100 == 0:
        print(f"Processed {counter} movies...")

    # Search for the movie by title
    search_url = f"{BASE_URL}/search/movie?api_key={API_KEY}&query={title}"
    response = requests.get(search_url)
    results = response.json().get('results')
    
    if results:
        # Get the movie ID of the first result
        movie_id = results[0]['id']
        
        # Fetch movie details using the movie ID
        details_url = f"{BASE_URL}/movie/{movie_id}?api_key={API_KEY}"
        response = requests.get(details_url)
        budget = response.json().get('budget')
        
        return budget
    else:
        return None

df_budget['budget'] = df_budget['top_release'].apply(get_movie_budget)

Processed 100 movies...
Processed 200 movies...
Processed 300 movies...
Processed 400 movies...
Processed 500 movies...
Processed 600 movies...
Processed 700 movies...
Processed 800 movies...
Processed 900 movies...
Processed 1000 movies...
Processed 1100 movies...
Processed 1200 movies...
Processed 1300 movies...
Processed 1400 movies...
Processed 1500 movies...
Processed 1600 movies...
Processed 1700 movies...
Processed 1800 movies...
Processed 1900 movies...
Processed 2000 movies...
Processed 2100 movies...
Processed 2200 movies...
Processed 2300 movies...
Processed 2400 movies...
Processed 2500 movies...
Processed 2600 movies...
Processed 2700 movies...

In [21]:
df_budget = df_budget.dropna(subset=['top_release' , 'budget'])
df_budget  = df_budget[df_budget['budget'] > 0]
df_budget

      year                          top_release       budget
2703  1977   Star Wars: Episode IV - A New Hope   11000000.0
2691  1977   Star Wars: Episode IV - A New Hope   11000000.0
2690  1977   Star Wars: Episode IV - A New Hope   11000000.0
2689  1977   Star Wars: Episode IV - A New Hope   11000000.0
2688  1977   Star Wars: Episode IV - A New Hope   11000000.0
...    ...                                  ...          ...
1292  2023     Transformers: Rise of the Beasts  195000000.0
1293  2023  Spider-Man: Across the Spider-Verse  100000000.0
1294  2023                   The Little Mermaid  297000000.0
1285  2023                               Barbie  145000000.0
1309  2023    Ant-Man and the Wasp: Quantumania  200000000.0

[2482 rows x 3 columns]

In [22]:
# Get studios behind every movie 

import openai
import pandas as pd

df_budget_studio = df_budget.copy()

# Set up OpenAI API
openai.api_key = "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"  


# Create a function to get the genre
def get_genre(movie_name):
    response = openai.Completion.create(
        engine="text-davinci-003", 
        prompt=f'''What studio produced the movie {movie_name}? (return 1 word only which is the answer). The only options you have are Disney,
        Paramount, Lionsgate, Universal, Columbia, 20th Century Fox, Legendary Warner Brothers, or Other''',
        max_tokens=10  # you can adjust this if needed
    )
    
    if counter % 500 == 0:
        print(f"Processed {counter} movies so far.")
    
    return response.choices[0].text.strip()

df_budget_studio['studio'] = None   
df_budget_studio['studio'] = df_budget_studio['top_release'].apply(get_genre)

In [23]:
df_budget_studio

,year,top_release,budget,studio
2703,1977,Star Wars: Episode IV - A New Hope,11000000.0,20th Century Fox
2691,1977,Star Wars: Episode IV - A New Hope,11000000.0,.\n\n20th Century Fox
2690,1977,Star Wars: Episode IV - A New Hope,11000000.0,20th Century Fox
2689,1977,Star Wars: Episode IV - A New Hope,11000000.0,.\n\n20th Century Fox
2688,1977,Star Wars: Episode IV - A New Hope,11000000.0,20th Century Fox
...,...,...,...,...
1292,2023,Transformers: Rise of the Beasts,195000000.0,Paramount
1293,2023,Spider-Man: Across the Spider-Verse,100000000.0,Sony
1294,2023,The Little Mermaid,297000000.0,Disney
1285,2023,Barbie,145000000.0,Other
1309,2023,Ant-Man and the Wasp: Quantumania,200000000.0,Disney

In [28]:
df_budget_studio['studio'].value_counts()[0:20]

Paramount                407
Warner Brothers          364
Universal                360
Disney                   277
20th Century Fox         173
Lionsgate                133
Columbia                  78
Other                     49
Sony.                     48
.\n\nUniversal            45
.\n\nParamount            43
.\n\nWarner Brothers      41
.\n\nDisney               32
Other.                    31
DreamWorks                30
.\n\n20th Century Fox     21
Columbia.                 21
.\n\nOther.               17
.\n\nColumbia             14
.\n\nLionsgate            13
Name: studio, dtype: int64

In [56]:
# Cleaning the 'studio' column
df_budget_studio['studio'] = df_budget_studio['studio'].str.replace('.\n\n', '', regex=False)
df_budget_studio['studio'] = df_budget_studio['studio'].str.rstrip('.')

/var/folders/r_/fklxc5m54kl125_d3kkyjzp40000gn/T/ipykernel_89964/4007980919.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_budget_studio['studio'] = df_budget_studio['studio'].str.replace('.\n\n', '', regex=False)
/var/folders/r_/fklxc5m54kl125_d3kkyjzp40000gn/T/ipykernel_89964/4007980919.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_budget_studio['studio'] = df_budget_studio['studio'].str.rstrip('.')

In [57]:
df_budget_studio['studio'].value_counts()[0:10]

Paramount           452
Warner Brothers     415
Universal           406
Disney              310
20th Century Fox    194
Lionsgate           159
Columbia            116
Other               105
Sony                 59
DreamWorks           45
Name: studio, dtype: int64

In [58]:
# Get the top 10 studios by frequency
top_10_studios = df_budget_studio['studio'].value_counts().head(10).index.tolist()

# Filter df_budget_studio to keep only rows where 'studio' is in top_10_studios
df_budget_studio = df_budget_studio[df_budget_studio['studio'].isin(top_10_studios)]

In [59]:
df_budget_studio

      year                          top_release       budget            studio
2703  1977   Star Wars: Episode IV - A New Hope   11000000.0  20th Century Fox
2691  1977   Star Wars: Episode IV - A New Hope   11000000.0  20th Century Fox
2690  1977   Star Wars: Episode IV - A New Hope   11000000.0  20th Century Fox
2689  1977   Star Wars: Episode IV - A New Hope   11000000.0  20th Century Fox
2688  1977   Star Wars: Episode IV - A New Hope   11000000.0  20th Century Fox
...    ...                                  ...          ...               ...
1292  2023     Transformers: Rise of the Beasts  195000000.0         Paramount
1293  2023  Spider-Man: Across the Spider-Verse  100000000.0              Sony
1294  2023                   The Little Mermaid  297000000.0            Disney
1285  2023                               Barbie  145000000.0             Other
1309  2023    Ant-Man and the Wasp: Quantumania  200000000.0            Disney

[2261 rows x 4 columns]

In [60]:
df_budget_groupped = df_budget_studio.groupby(['year' , 'studio']).mean(['budget']).reset_index()
df_budget_groupped

     year            studio        budget
0    1977  20th Century Fox  1.100000e+07
1    1977          Columbia  9.000000e+06
2    1977         Paramount  2.000000e+07
3    1978  20th Century Fox  1.040000e+07
4    1978             Other  3.500000e+06
..    ...               ...           ...
364  2023             Other  1.228929e+08
365  2023         Paramount  2.025667e+08
366  2023              Sony  1.000000e+08
367  2023         Universal  3.400000e+08
368  2023   Warner Brothers  9.742857e+07

[369 rows x 3 columns]

In [63]:
df_budget_groupped['budget'].replace(0, np.nan, inplace=True)

# Perform linear interpolation
df_budget_groupped['budget'].interpolate(method='linear', inplace=True)

# If there are any NaNs left (like at the beginning or end of the column), you can decide to fill them with a specific value or just drop them
# For example, to fill NaNs with the mean:
df_budget_groupped['budget'].fillna(df_budget_groupped['budget'].mean(), inplace=True)

In [82]:
# Create a list of unique studios
studios = df_budget_groupped['studio'].unique()

# Create a list of unique years (in sorted order)
years = sorted(df_budget_groupped['year'].unique())

# Transform the DataFrame into the desired format
result = [
    {
        'name': studio,
        'data': [
            int(df_budget_groupped[(df_budget_groupped['year'] == year) & (df_budget_groupped['studio'] == studio)]['budget'].values[0])
            if len(df_budget_groupped[(df_budget_groupped['year'] == year) & (df_budget_groupped['studio'] == studio)]['budget'].values) > 0
            else 0
            for year in years
        ]
    }
    for studio in studios
]

In [83]:
result

[{'name': '20th Century Fox',
  'data': [11000000,
   10400000,
   11000000,
   18000000,
   5000000,
   4000000,
   32350000,
   0,
   0,
   17333333,
   42500000,
   16000000,
   26000000,
   24500000,
   20125000,
   34000000,
   25000000,
   30000000,
   90000000,
   67500000,
   160000000,
   37333333,
   115000000,
   114500000,
   100000000,
   104750000,
   99333333,
   70000000,
   114750000,
   106250000,
   92500000,
   82500000,
   184800000,
   213142857,
   90750000,
   95000000,
   101333333,
   139500000,
   108000000,
   103285714,
   114666666,
   70000000,
   145866666,
   0,
   0,
   460000000,
   460000000]},
 {'name': 'Columbia',
  'data': [9000000,
   0,
   0,
   0,
   0,
   21000000,
   20250000,
   144000000,
   0,
   18500000,
   55000000,
   29000000,
   11000000,
   26000000,
   0,
   30000000,
   14450000,
   40000000,
   29500000,
   47000000,
   80833333,
   95000000,
   49600000,
   83800000,
   35000000,
   86750000,
   65400000,
   109625000,
   60500000,
   46500000,
   139000000,
   36666666,
   84000000,
   40000000,
   0,
   215000000,
   0,
   93000000,
   58000000,
   0,
   175000000,
   0,
   0,
   0,
   200000000,
   200000000,
   0]},
 {'name': 'Paramount',
  'data': [20000000,
   3500000,
   23200000,
   9425000,
   8083333,
   18076923,
   13807692,
   20575000,
   23360000,
   15851851,
   18869565,
   22523076,
   29690360,
   38294117,
   30571428,
   31818181,
   37866666,
   50636363,
   39941176,
   85566666,
   78666666,
   148461538,
   80000000,
   81500000,
   49800000,
   48687500,
   57666666,
   65142857,
   113000000,
   84500000,
   53909090,
   95909090,
   103759285,
   101625000,
   128454545,
   74000000,
   80824145,
   127166666,
   124666666,
   136666666,
   201000000,
   97500000,
   142500000,
   82500000,
   87571428,
   134285714,
   202566666]},
 {'name': 'Other',
  'data': [0,
   3500000,
   4500050,
   5932745,
   7100000,
   25666666,
   13500000,
   1200000,
   12566666,
   14857142,
   16000000,
   15333333,
   8083333,
   0,
   17100000,
   0,
   13500000,
   20000000,
   47666666,
   0,
   65666666,
   0,
   35000000,
   0,
   10000000,
   79000000,
   18000000,
   42000000,
   38000000,
   36500000,
   180000000,
   0,
   100000000,
   20000000,
   33000000,
   13500000,
   62250000,
   0,
   26000000,
   9900000,
   0,
   42000000,
   0,
   15000000,
   79333333,
   83000000,
   122892857]},
 {'name': 'Universal',
  'data': [0,
   20000000,
   3677500,
   21250000,
   11250000,
   12080000,
   10500000,
   0,
   19000000,
   21500000,
   13875000,
   14035714,
   23850000,
   27250000,
   70538461,
   24880000,
   49812500,
   31958333,
   75142857,
   44200000,
   59000000,
   47400000,
   55000000,
   62680000,
   58642857,
   61600000,
   86333333,
   73500000,
   46500000,
   77333333,
   86065000,
   88333333,
   89625000,
   89666666,
   103500000,
   71545454,
   96166666,
   27555555,
   104235294,
   58625000,
   104611111,
   82760714,
   104000000,
   44222222,
   124727272,
   125000000,
   340000000]},
 {'name': 'Warner Brothers',
  'data': [0,
   51000000,
   25000000,
   9166666,
   42800000,
   17833333,
   24775000,
   13411111,
   9050000,
   12000000,
   18750000,
   11285714,
   29571428,
   11062500,
   28666666,
   33718181,
   39300000,
   38133333,
   43000000,
   50555555,
   81000000,
   65857142,
   84666666,
   56650000,
   92000000,
   94636363,
   103200000,
   121800000,
   123583333,
   126000000,
   110000000,
   105416666,
   62909090,
   153000000,
   86363636,
   227166666,
   131846153,
   114742857,
   92185714,
   150818181,
   124416666,
   121666666,
   75100000,
   185714285,
   119142857,
   143250000,
   97428571]},
 {'name': 'Disney',
  'data': [0,
   0,
   0,
   0,
   20000000,
   0,
   0,
   8000000,
   17500000,
   0,
   0,
   70000000,
   8045760,
   47000000,
   70000000,
   51333333,
   113857142,
   141000000,
   31153846,
   57000000,
   67000000,
   124000000,
   68333333,
   82500000,
   130000000,
   70600000,
   71000000,
   92000000,
   117333333,
   131428571,
   131733333,
   82181818,
   84285714,
   124250000,
   217250000,
   202000000,
   187777777,
   213333333,
   197536363,
   168444444,
   174736842,
   217105263,
   201372000,
   179250000,
   104312500,
   177562500,
   210444444]},
 {'name': 'Lionsgate',
  'data': [0,
   0,
   0,
   0,
   0,
   15000000,
   0,
   2550000,
   16500000,
   0,
   0,
   13000000,
   18000000,
   18500000,
   0,
   35333333,
   70000000,
   23000000,
   30125000,
   15125000,
   17000000,
   16500000,
   58000000,
   16500000,
   34000000,
   42500000,
   28187500,
   48750000,
   42500000,
   27311111,
   20903571,
   27875000,
   37500000,
   38014285,
   51000000,
   65045454,
   86250000,
   98000000,
   118200000,
   14950000,
   47000000,
   31162500,
   42500000,
   30000000,
   70000000,
   4500000,
   90000000]},
 {'name': 'Sony',
  'data': [0,
   0,
   0,
   0,
   0,
   0,
   0,
   144000000,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   65000000,
   0,
   45000000,
   0,
   133000000,
   0,
   0,
   92000000,
   80000000,
   10000000,
   0,
   85000000,
   50666666,
   0,
   61920000,
   60000000,
   71500000,
   140333333,
   78000000,
   50000000,
   145500000,
   73000000,
   0,
   95555555,
   148333333,
   90000000,
   200000000,
   131666666,
   100000000]},
 {'name': 'DreamWorks',
  'data': [0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   50000000,
   60000000,
   75000000,
   96500000,
   58000000,
   77500000,
   35200000,
   89500000,
   62500000,
   0,
   155000000,
   150000000,
   0,
   158000000,
   67500000,
   0,
   0,
   145000000,
   0,
   0,
   82000000,
   0,
   75000000,
   65000000,
   0,
   0,
   0]}]

In [84]:
import numpy as np

# Step 1: Ensure every studio has an entry for every year
all_years = df_budget_groupped['year'].unique()
all_studios = df_budget_groupped['studio'].unique()

# Create a MultiIndex with all combinations of year and studio
multi_idx = pd.MultiIndex.from_product([all_years, all_studios], names=['year', 'studio'])

# Reindex the dataframe with the new MultiIndex and reset index
df_filled = df_budget_groupped.set_index(['year', 'studio']).reindex(multi_idx).reset_index()

# Step 2: Interpolate for each studio
for studio in all_studios:
    mask = df_filled['studio'] == studio
    df_filled.loc[mask, 'budget'] = df_filled.loc[mask, 'budget'].interpolate()

# Step 3: Use list comprehension for the result
result = [
    {
        'name': studio,
        'data': [
            int(df_filled[(df_filled['year'] == year) & (df_filled['studio'] == studio)]['budget'].tolist()[0]
            if len(df_filled[(df_filled['year'] == year) & (df_filled['studio'] == studio)]['budget'].tolist()) > 0 else 0
            for year in all_years
        ]
    }
    for studio in all_studios
]

ValueError: cannot convert float NaN to integer

In [69]:
result

[{'name': '20th Century Fox',
  'data': [11000000.0,
   10400000.0,
   11000000.0,
   18000000.0,
   5000000.0,
   4000000.0,
   32350000.0,
   27344444.444444444,
   22338888.888888888,
   17333333.333333332,
   42500000.0,
   16000000.0,
   26000000.0,
   24500000.0,
   20125000.0,
   34000000.0,
   25000000.0,
   30000000.0,
   90000000.0,
   67500000.0,
   160000000.0,
   37333333.333333336,
   115000000.0,
   114500000.0,
   100000000.0,
   104750000.0,
   99333333.33333333,
   70000000.0,
   114750000.0,
   106250000.0,
   92500000.0,
   82500000.0,
   184800000.0,
   213142857.14285713,
   90750000.0,
   95000000.0,
   101333333.33333333,
   139500000.0,
   108000000.0,
   103285714.28571428,
   114666666.66666667,
   70000000.0,
   145866666.66666666,
   250577777.7777778,
   355288888.8888889,
   460000000.0,
   460000000.0]},
 {'name': 'Columbia',
  'data': [9000000.0,
   11400000.0,
   13800000.0,
   16200000.0,
   18600000.0,
   21000000.0,
   20250000.0,
   144000000.0,
   81250000.0,
   18500000.0,
   55000000.0,
   29000000.0,
   11000000.0,
   26000000.0,
   28000000.0,
   30000000.0,
   14450000.0,
   40000000.0,
   29500000.0,
   47000000.0,
   80833333.33333333,
   95000000.0,
   49600000.0,
   83800000.0,
   35000000.0,
   86750000.0,
   65400000.0,
   109625000.0,
   60500000.0,
   46500000.0,
   139000000.0,
   36666666.666666664,
   84000000.0,
   40000000.0,
   127500000.0,
   215000000.0,
   154000000.0,
   93000000.0,
   58000000.0,
   116500000.0,
   175000000.0,
   181250000.0,
   187500000.0,
   193750000.0,
   200000000.0,
   200000000.0,
   200000000.0]},
 {'name': 'Paramount',
  'data': [20000000.0,
   3500000.0,
   23200000.0,
   9425000.0,
   8083333.333333333,
   18076923.076923076,
   13807692.307692308,
   20575000.0,
   23360000.0,
   15851851.851851853,
   18869565.217391305,
   22523076.923076924,
   29690360.0,
   38294117.64705882,
   30571428.57142857,
   31818181.818181816,
   37866666.666666664,
   50636363.63636363,
   39941176.47058824,
   85566666.66666667,
   78666666.66666667,
   148461538.46153846,
   80000000.0,
   81500000.0,
   49800000.0,
   48687500.0,
   57666666.666666664,
   65142857.14285714,
   113000000.0,
   84500000.0,
   53909090.90909091,
   95909090.9090909,
   103759285.71428572,
   101625000.0,
   128454545.45454545,
   74000000.0,
   80824145.14285715,
   127166666.66666667,
   124666666.66666667,
   136666666.66666666,
   201000000.0,
   97500000.0,
   142500000.0,
   82500000.0,
   87571428.57142857,
   134285714.2857143,
   202566666.66666666]},
 {'name': 'Other',
  'data': [nan,
   3500000.0,
   4500050.0,
   5932745.0,
   7100000.0,
   25666666.666666668,
   13500000.0,
   1200000.0,
   12566666.666666666,
   14857142.857142856,
   16000000.0,
   15333333.333333334,
   8083333.333333333,
   12591666.666666668,
   17100000.0,
   15300000.0,
   13500000.0,
   20000000.0,
   47666666.666666664,
   56666666.666666664,
   65666666.666666664,
   50333333.33333333,
   35000000.0,
   22500000.0,
   10000000.0,
   79000000.0,
   18000000.0,
   42000000.0,
   38000000.0,
   36500000.0,
   180000000.0,
   140000000.0,
   100000000.0,
   20000000.0,
   33000000.0,
   13500000.0,
   62250000.0,
   44125000.0,
   26000000.0,
   9900000.0,
   25950000.0,
   42000000.0,
   28500000.0,
   15000000.0,
   79333333.33333333,
   83000000.0,
   122892857.14285715]},
 {'name': 'Universal',
  'data': [nan,
   20000000.0,
   3677500.0,
   21250000.0,
   11250000.0,
   12080000.0,
   10500000.0,
   14750000.0,
   19000000.0,
   21500000.0,
   13875000.0,
   14035714.285714285,
   23850000.0,
   27250000.0,
   70538461.53846154,
   24880000.0,
   49812500.0,
   31958333.333333332,
   75142857.14285715,
   44200000.0,
   59000000.0,
   47400000.0,
   55000000.0,
   62680000.0,
   58642857.14285714,
   61600000.0,
   86333333.33333333,
   73500000.0,
   46500000.0,
   77333333.33333333,
   86065000.0,
   88333333.33333333,
   89625000.0,
   89666666.66666667,
   103500000.0,
   71545454.54545455,
   96166666.66666667,
   27555555.555555556,
   104235294.11764705,
   58625000.0,
   104611111.1111111,
   82760714.28571428,
   104000000.0,
   44222222.222222224,
   124727272.72727273,
   125000000.0,
   340000000.0]},
 {'name': 'Warner Brothers',
  'data': [nan,
   51000000.0,
   25000000.0,
   9166666.666666666,
   42800000.0,
   17833333.333333332,
   24775000.0,
   13411111.111111112,
   9050000.0,
   12000000.0,
   18750000.0,
   11285714.285714285,
   29571428.57142857,
   11062500.0,
   28666666.666666668,
   33718181.81818182,
   39300000.0,
   38133333.333333336,
   43000000.0,
   50555555.55555555,
   81000000.0,
   65857142.85714286,
   84666666.66666667,
   56650000.0,
   92000000.0,
   94636363.63636364,
   103200000.0,
   121800000.0,
   123583333.33333333,
   126000000.0,
   110000000.0,
   105416666.66666667,
   62909090.90909091,
   153000000.0,
   86363636.36363636,
   227166666.66666666,
   131846153.84615384,
   114742857.14285715,
   92185714.28571428,
   150818181.8181818,
   124416666.66666667,
   121666666.66666667,
   75100000.0,
   185714285.7142857,
   119142857.14285715,
   143250000.0,
   97428571.42857143]},
 {'name': 'Disney',
  'data': [nan,
   nan,
   nan,
   nan,
   20000000.0,
   16000000.0,
   12000000.0,
   8000000.0,
   17500000.0,
   35000000.0,
   52500000.0,
   70000000.0,
   8045760.0,
   47000000.0,
   70000000.0,
   51333333.333333336,
   113857142.85714285,
   141000000.0,
   31153846.153846152,
   57000000.0,
   67000000.0,
   124000000.0,
   68333333.33333333,
   82500000.0,
   130000000.0,
   70600000.0,
   71000000.0,
   92000000.0,
   117333333.33333333,
   131428571.42857143,
   131733333.33333333,
   82181818.18181819,
   84285714.28571428,
   124250000.0,
   217250000.0,
   202000000.0,
   187777777.7777778,
   213333333.33333334,
   197536363.63636363,
   168444444.44444445,
   174736842.10526314,
   217105263.15789473,
   201372000.0,
   179250000.0,
   104312500.0,
   177562500.0,
   210444444.44444445]},
 {'name': 'Lionsgate',
  'data': [nan,
   nan,
   nan,
   nan,
   nan,
   15000000.0,
   8775000.0,
   2550000.0,
   16500000.0,
   15333333.333333334,
   14166666.666666666,
   13000000.0,
   18000000.0,
   18500000.0,
   26916666.666666668,
   35333333.333333336,
   70000000.0,
   23000000.0,
   30125000.0,
   15125000.0,
   17000000.0,
   16500000.0,
   58000000.0,
   16500000.0,
   34000000.0,
   42500000.0,
   28187500.0,
   48750000.0,
   42500000.0,
   27311111.111111112,
   20903571.42857143,
   27875000.0,
   37500000.0,
   38014285.71428572,
   51000000.0,
   65045454.54545455,
   86250000.0,
   98000000.0,
   118200000.0,
   14950000.0,
   47000000.0,
   31162500.0,
   42500000.0,
   30000000.0,
   70000000.0,
   4500000.0,
   90000000.0]},
 {'name': 'Sony',
  'data': [nan,
   nan,
   nan,
   nan,
   nan,
   nan,
   nan,
   144000000.0,
   136818181.8181818,
   129636363.63636364,
   122454545.45454545,
   115272727.27272728,
   108090909.0909091,
   100909090.9090909,
   93727272.72727272,
   86545454.54545455,
   79363636.36363637,
   72181818.18181819,
   65000000.0,
   55000000.0,
   45000000.0,
   89000000.0,
   133000000.0,
   119333333.33333333,
   105666666.66666667,
   92000000.0,
   80000000.0,
   10000000.0,
   47500000.0,
   85000000.0,
   50666666.666666664,
   56293333.33333333,
   61920000.0,
   60000000.0,
   71500000.0,
   140333333.33333334,
   78000000.0,
   50000000.0,
   145500000.0,
   73000000.0,
   84277777.77777778,
   95555555.55555555,
   148333333.33333334,
   90000000.0,
   200000000.0,
   131666666.66666667,
   100000000.0]},
 {'name': 'DreamWorks',
  'data': [nan,
   nan,
   nan,
   nan,
   nan,
   nan,
   nan,
   nan,
   nan,
   nan,
   nan,
   nan,
   nan,
   nan,
   nan,
   nan,
   nan,
   nan,
   nan,
   nan,
   50000000.0,
   60000000.0,
   75000000.0,
   96500000.0,
   58000000.0,
   77500000.0,
   35200000.0,
   89500000.0,
   62500000.0,
   108750000.0,
   155000000.0,
   150000000.0,
   154000000.0,
   158000000.0,
   67500000.0,
   93333333.33333333,
   119166666.66666666,
   145000000.0,
   124000000.0,
   103000000.0,
   82000000.0,
   78500000.0,
   75000000.0,
   65000000.0,
   65000000.0,
   65000000.0,
   65000000.0]}]

In [71]:
def custom_serialize(data):
    # Start the outer list
    serialized_data = "[\n"

    # Loop through each dictionary in the list
    for item in data:
        serialized_data += "    {\n"
        serialized_data += "        name: '{}',\n".format(item['name'])
        serialized_data += "        data: {}\n".format(item['data'])
        serialized_data += "    },\n"

    # Remove trailing comma and newline
    serialized_data = serialized_data.rstrip(",\n")

    # End the outer list
    serialized_data += "\n]"

    return serialized_data

# Save to a text file
with open('result.txt', 'w') as file:
    file.write(custom_serialize(result))

In [81]:
year_strings = [str(year)  for year in df_budget_groupped['year'].unique()]
year_strings

['1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022',
 '2023']