In [2]:
import pandas as pd

In [10]:
# Disney 

df_disney = pd.read_csv("/Users/anthonymoubarak/Desktop/Time_Series/Project/Data/Stocks/Disney.csv")

df_disney = df_disney[['Date' , 'Close']]
df_disney = df_disney.rename(columns={'Close':'Close_Disney'})

In [11]:
# Warner Brothers

df_warner = pd.read_csv("/Users/anthonymoubarak/Desktop/Time_Series/Project/Data/Stocks/Warner_Brother.csv")
df_warner = df_warner[['Date' , 'Close']]
df_warner = df_warner.rename(columns={'Close':'Close_WB'})

In [12]:
# Paramount

df_paramount = pd.read_csv("/Users/anthonymoubarak/Desktop/Time_Series/Project/Data/Stocks/Paramount.csv")
df_paramount = df_paramount[['Date' , 'Close']]
df_paramount = df_paramount.rename(columns={'Close':'Close_Paramount'})

In [13]:
# LionsGate

df_lionsgate = pd.read_csv("/Users/anthonymoubarak/Desktop/Time_Series/Project/Data/Stocks/LionsGate.csv")
df_lionsgate = df_lionsgate[['Date' , 'Close']]
df_lionsgate = df_lionsgate.rename(columns={'Close':'Close_Lionsgate'})

In [14]:
# Netflix 

# LionsGate

df_netflix = pd.read_csv("/Users/anthonymoubarak/Desktop/Time_Series/Project/Data/Stocks/NFLX.csv")
df_netflix = df_netflix[['Date' , 'Close']]
df_netflix = df_netflix.rename(columns={'Close':'Close_Netflix'})

In [15]:
# Combine all

movie_stocks = pd.merge(pd.merge(pd.merge(pd.merge(df_disney, df_warner, on = 'Date' , how = 'left') ,
        df_paramount , on = 'Date' , how = 'left'),
        df_lionsgate, on = 'Date' , how = 'left'),
        df_netflix, on = 'Date' , how = 'left')

movie_stocks.head()

,Date,Close_Disney,Close_WB,Close_Paramount,Close_Lionsgate,Close_Netflix
0,1985-12-02,2.001259,NaN,NaN,NaN,NaN
1,1985-12-03,1.996121,NaN,NaN,NaN,NaN
2,1985-12-04,2.086036,NaN,NaN,NaN,NaN
3,1985-12-05,2.098882,NaN,NaN,NaN,NaN
4,1985-12-06,2.096313,NaN,NaN,NaN,NaN

In [20]:
movie_stocks = movie_stocks.rename(columns= {'Close_Disney':'Disney' , 
                                             'Close_WB':'WB',
                                             'Close_Paramount':'Paramount',
                                             'Close_Lionsgate':'Lionsgate',
                                             'Close_Netflix':'Netflix'})

In [21]:
movie_stocks.to_csv("movie_studio_stocks.csv")

In [23]:
movie_stocks['Lionsgate']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
9531    8.42
9532    8.49
9533    8.48
9534    8.13
9535    7.80
Name: Lionsgate, Length: 9536, dtype: float64

In [25]:
movie_stocks.columns

Index(['Date', 'Disney', 'WB', 'Paramount', 'Lionsgate', 'Netflix'], dtype='object')

In [26]:
# List of columns to normalize, excluding 'Date'
cols_to_normalize = ['Disney', 'WB', 'Paramount', 'Lionsgate', 'Netflix']

# Normalizing the columns
for col in cols_to_normalize:
    movie_stocks[col] = (movie_stocks[col] - movie_stocks[col].min()) / (movie_stocks[col].max() - movie_stocks[col].min())

In [28]:
movie_stocks.to_csv("movie_stocks_normalized.csv")

In [35]:
average_price = pd.DataFrame({
    'Disney': [df_disney['Close_Disney'].mean()],
    'Warner': [df_warner['Close_WB'].mean()],
    'Paramount': [df_paramount['Close_Paramount'].mean()],
    'Lionsgate': [df_lionsgate['Close_Lionsgate'].mean()],
    'Netflix': [df_netflix['Close_Netflix'].mean()]
})

average_price.to_csv("average_stock_prices.csv")

In [36]:
average_price

     Disney     Warner  Paramount  Lionsgate     Netflix
0  47.05581  23.078088  36.419246  12.682516  131.954171